<div class="container p-4">
    <button type="button" class="btn btn-outline-info waves-effect" [routerLink]="['./positions']">Positions</button>
    &nbsp;
    <button type="button" class="btn btn-outline-info waves-effect" [routerLink]="['./department']">Departments</button>
    &nbsp;
    <button type="button" class="btn btn-outline-info waves-effect" [routerLink]="['./employees']">Employees</button>
    &nbsp;
    <button type="button" class="btn btn-outline-info waves-effect" [routerLink]="['./courses']">Courses</button>
    &nbsp;

    <router-outlet></router-outlet>
</div>